nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .nav-brand {
        display: flex;
        justify-content: space-between;
        .logo {
            display: flex;
        }
        .navbar-toggler {
            display: none;
            position: absolute;
            right: 10px;
           
        }
                
    }
    .nav-menu {
        display: flex;
        margin: 0 auto;
        width: 100vh;
        align-items: center;
        .navlinks {
            display: flex;
            li{
                margin-left: 10px;
            }
            &.open{
                display: inline-block !important;
                right: 0;
                left: 0;
                justify-content: space-between;
            
            }
        }
        
    }
    
}
@media only screen and (max-width: 720px) {
    .navbar-toggler{
        display: flex!important;
        &.open{
            display: flex;
            position: absolute;
            right: 0;
        }
        &.open .logo{
            position: absolute;
        }
    }
        .navlinks{
            display: none !important;
        }
  }